name: ruff
on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Ruff Check
        uses: astral-sh/ruff-action@v1
        with:
          args: check
